src/main/resources/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="group-url"/>
        <xs:element ref="teacher-url"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="teacher-url" type="xs:string"/>
  <xs:element name="group-url" type="xs:string"/>
</xs:schema>